.search {
  &__input {
    width: 100%;
    padding: 8px 14px;
    font-size: 16px;
    border: none;
  }

  &__suggestion-box {
    width: 100%;
    position: absolute;
  }
  &__suggestion {
    padding: 5px;
  }

  &__error {
    color: red;
    padding: 5px;
    font-size: 11px;
  }
  &__btn {
    border: none;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: #d1d1d1;
    }
  }
}
